<pre><code>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"btn btn-default btn-vertical"</span>&gt;
    Default <span class="hljs-keyword">Button </span><span class="hljs-number">1</span>
&lt;/<span class="hljs-keyword">button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"btn btn-default btn-vertical"</span>&gt;
    Default <span class="hljs-keyword">Button </span><span class="hljs-number">2</span>
&lt;/<span class="hljs-keyword">button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"btn btn-default btn-vertical"</span>&gt;
    Default <span class="hljs-keyword">Button </span><span class="hljs-number">3</span>
&lt;/<span class="hljs-keyword">button&gt;</span>
</code></pre>