<style type="text/css">
	.api-row {
		/*background-color: red;*/
	}
	.api-row-header {
		color: #808080;
		padding-right: 20px;
	}
	.api-row-header > th {
		font-weight: 600;
		font-size: 1.1em;
		font-family: "ff-din-web-condensed", sans-serif;
	}
	.api-row-item {
		padding-right: 20px;
	}
</style>


<!-- 
	fileInfo, [object Object]

	startingLine, 76

	endingLine, 78

	content, Add closest() to jqLite.

	codeNode, [object Object]

	codeAncestors, [object Object],[object Object],[object Object],[object Object],[object Object]

	docType, js

	tags, [object Object]

	description, Add closest() to jqLite.

	codeName, 

	id, components/ui-select/select

	aliases, components/ui-select/select

	path, components/ui-select/select

	outputPath, components/ui-select/select.html
 -->


<h1>components/ui-select/select</h1>

<h3>Description</h3>
<p>Add closest() to jqLite.</p>

<table>
	<tr align="left" class="api-row-header">
		<th>Parameter</th>
		<th>Type</th>
		<th>Description</th>
	</tr>


</table>

<!-- <h3>Description</h3>
<p>Add closest() to jqLite.</p> -->


 with future versions of AngularJS, to be removed when this happens

See jqLite.find - why not use querySelectorAll? https://github.com/angular/angular.js/issues/3586
See feat(jqLite): use querySelectorAll instead of getElementsByTagName in jqLite.find https://github.com/angular/angular.js/pull/3598

	codeName, 

	id, components/ui-select/select

	aliases, components/ui-select/select

	path, components/ui-select/select

	outputPath, components/ui-select/select.html
 -->


<h1>components/ui-select/select</h1>

<h3>Description</h3>
<p>Add querySelectorAll() to jqLite.

jqLite find() is limited to lookups by tag name.
TODO This will change with future versions of AngularJS, to be removed when this happens

See jqLite.find - why not use querySelectorAll? https://github.com/angular/angular.js/issues/3586
See feat(jqLite): use querySelectorAll instead of getElementsByTagName in jqLite.find https://github.com/angular/angular.js/pull/3598</p>

<table>
	<tr align="left" class="api-row-header">
		<th>Parameter</th>
		<th>Type</th>
		<th>Description</th>
	</tr>


</table>

<!-- <h3>Description</h3>
<p>Add querySelectorAll() to jqLite.

jqLite find() is limited to lookups by tag name.
TODO This will change with future versions of AngularJS, to be removed when this happens

See jqLite.find - why not use querySelectorAll? https://github.com/angular/angular.js/issues/3586
See feat(jqLite): use querySelectorAll instead of getElementsByTagName in jqLite.find https://github.com/angular/angular.js/pull/3598</p> -->


