<style type="text/css">
	.swatch-label {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
	}
	.label-padding {
		margin: 0 0 0 12.5em;
	}
</style>

<div class="swatches-container">
	<h3 class="swatch-label">PRIMARY <span class="label-padding">SECONDARY</span></h3>
	<swatch color="blue"
					type="primary"
					labels="['PMS 2925C',
									 'CMYK 74 22 0 0', 
									 'RGB 26 158 217', 
									 '#199ed9']">
	</swatch>
	<swatch color="teal"
					type="secondary"
					labels="['PMS 325C',
									 'CMYK 62 0 28 0', 
									 'RGB 84 193 193', 
									 '#54c0c0']">
	</swatch>
	<swatch color="citrus"
					type="secondary"
					labels="['PMS 381C',
									 'CMYK 29 0 84 0', 
									 'RGB 191 215 86', 
									 '#bfd756']">
	</swatch>
	<swatch color="midnight"
					type="secondary"
					labels="['PMS 303C',
									 'CMYK 97 73 52 56', 
									 'RGB 0 42 58', 
									 '#002a3a']">
	</swatch>
</div>