//== Datto brand and style variables

// Shading Variables

$shade-1: 20%;
$shade-2: 35%;

// Colors

// -- Primary Palette
// --- Blue
$blue: #199ed9;
$blue-dark: #2167AD;
$blue-light: #45B9FE;
$blue-lighter: #81CFFF;

// -- Secondary Palette
// --- Teal
$teal: #54c0c0;
$teal-dark: #009897;
$teal-light: #98E7DB;
$teal-lighter: #CCF4E7;

// --- Citrus
$citrus: #bfd756;
$citrus-dark: #A2BF07;
$citrus-light: #BCE17E;
$citrus-lighter: #D3F3AF;

// --- Status
$green: #58c990;
$yellow: #f6d93c;
$red: #f3523e;

// --- Midnight
$midnight: #002a3a;
$midnight-dark: $midnight;
$midnight-light: $midnight;
$midnight-lighter: $midnight;
$midnight-90: #1c3e4c;
$midnight-80: #355460;
$midnight-70: #4e6973;
$midnight-60: #687f88;
$midnight-50: #81949b;
$midnight-40: #9aa9af;
$midnight-30: #b3bec3;
$midnight-20: #cdd4d7;
$midnight-10: #d9dfe1;
$midnight-5:  #e5e9eb;
$midnight-2:  #f5f6f7;


// -- Grayscale mapping
$black: #000;
$white: #fff;
$gray-darkest: $midnight-80;
$gray-darker: $midnight-70;
$gray-dark: $midnight-40;
$gray: $midnight-30;
$gray-light: $midnight-20;
$gray-lighter: $midnight-5;
$gray-lightest: $midnight-2;


// DEPRECATED?

// --- Gray Steel
$gray-steel: #C3DADB;
$gray-steel-darker: darken($gray-steel, 35%);
$gray-steel-dark: darken($gray-steel, 20%);
$gray-steel-light: lighten($gray-steel, 5%);
$gray-steel-lighter: lighten($gray-steel, 10%);

// --- Orange
$orange: #F2633A;
$orange-darker: darken($orange, 40%);
$orange-dark: darken($orange, 25%);
$orange-light: lighten($orange, 10%);
$orange-lighter: lighten($orange, 15%);

// -- Secondary Palette
// --- Blue medium
$blue-medium: #006DA3;
$blue-medium-light: lighten($blue-medium, 20%);
$blue-medium-dark: darken($blue-medium, 20%);

// --- Green
$green-light: lighten($green, 20%);
$green-dark: darken($green, 20%);

// --- Green lime
$green-lime: #C6D219;
$green-lime-light: lighten($green-lime, 20%);
$green-lime-dark: darken($green-lime, 20%);

// --- Yellow
$yellow-light: lighten($yellow, 20%);
$yellow-dark: darken($yellow, 20%);

// --- Beige
$beige: #D3C79D;
$beige-light: lighten($beige, 20%);
$beige-dark: darken($beige, 20%);



// --- Grey warm
$gray-warm: #918f89;
$gray-warm-lightest: lighten($gray-warm, 36%);
$gray-warm-lighter: lighten($gray-warm, 28%);
$gray-warm-light: lighten($gray-warm, $shade-1);
$gray-warm-dark: darken($gray-warm, $shade-1);
$gray-warm-darker: darken($gray-warm, 30%);
$gray-warm-darkest: darken($gray-warm, 40%);



//=== Primary
$brand-primary: $orange;

//=== Success
$brand-success: $green;
$brand-success-light: lighten($brand-success, $shade-2);
$brand-success-dark: darken($brand-success, 38%);

//=== Info
$brand-info: $blue;
$brand-info-light: lighten($brand-info, 50%);
$brand-info-dark: darken($brand-info, 24%);

//=== Warning
$brand-warning: $yellow;
$brand-warning-light: lighten($brand-warning, 30%);
$brand-warning-dark: darken($brand-warning, 45%);

//=== Danger
$brand-danger: #d9534f;
$brand-danger-light: lighten($brand-danger, 33%);
$brand-danger-dark: darken($brand-danger, 38%);

$text-color: $gray-dark;
$link-color-light: $blue-light;
$link-color: $blue;
$link-color-dark: $blue-dark;
$link-hover-color-light: $blue-lighter;
$link-hover-color: $blue-dark;

$body-bg: $gray-lightest;

// Typography

// -- Body
$font-family-base: "ff-din-web", sans-serif;
$font-size-base: 14px;
$font-size-xsmall: ceil(($font-size-base * 0.7143)); // ~10px
$font-size-small: ceil(($font-size-base * 0.8571)); // ~12px
$font-size-medium: $font-size-base; // ~14px
$font-size-large: ceil(($font-size-base * 1.2857)); // ~18px
$font-size-xlarge: ceil(($font-size-base * 1.7143)); // ~24px

$font-size-h1: $font-size-base * 2.5714; // ~36px
$font-size-h2: $font-size-base * 2; // ~28px
$font-size-h3: $font-size-base * 1.7143; // ~24px
$font-size-h5: $font-size-base; // ~14px
$font-size-h6: $font-size-small; // ~12px

$font-size-title: $font-size-base * 3.5;

$font-size-icon: 20px;
$font-size-icon-small: 16px;
$font-size-icon-large: 32px;

$line-height-base: 1.5; // 21/14
$line-height-xsmall: $line-height-base * 0.8;
$line-height-small: $line-height-base * 0.9;
$line-height-medium: $line-height-base;
$line-height-large: $line-height-base * 1.1;
$line-height-xlarge: $line-height-base * 1.2;

$line-height-icon: 1;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~21px

$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-color-base: $gray-dark;
$font-color-error: $brand-danger;

// -- Links
$text-decoration: none;

// -- Headings
$font-family-heading: "ff-din-web-condensed", sans-serif;
$line-height-heading: $line-height-small;

// Icons
$icon-margin-start: $font-size-base / 2.5;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 0px;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 0px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 0px;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 0px;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns: 12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Large screen / wide desktop
$container-large-desktop:      ((940px + $grid-gutter-width));
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-xs-vertical: 2px;
$padding-xs-horizontal: 5px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-medium-vertical: 8px;
$padding-medium-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 14px;

$padding-xlarge-vertical: 18px;
$padding-xlarge-horizontal: 28px;

$padding-base-vertical: $padding-medium-vertical;
$padding-base-horizontal: $padding-medium-horizontal;

$border-radius-base: 3px;
$border-radius-small: 3px;
$border-radius-medium: $border-radius-base;
$border-radius-large: 6px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color: #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg: $brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base: 4px;
//** Carets increase slightly in size for larger components.
$caret-width-large: 5px;

//== Buttons
//
$border-radius: 3px;

// For each of Bootstrap's buttons, define text, background and border color.

$btn-default-color: $gray-darker;
$btn-default-bg: $white;
$btn-default-border: $gray-lighter;

$btn-primary-color: $white;
$btn-primary-bg: $orange;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-secondary-color: $white;
$btn-secondary-bg: $blue;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

$btn-success-color: $white;
$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-info-color: $white;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

$btn-warning-color: $white;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: $white;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

$btn-link-disabled-color: $gray-light;

//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:  10px 12px;
$nav-link-hover-bg:  $gray-lightest;

$nav-disabled-link-color:  $gray-lighter;
$nav-disabled-link-hover-color:  $gray-lighter;

$nav-open-link-hover-color:  #fff;

//== Tabs
$nav-tabs-border-color:  #ddd;

$nav-tabs-link-hover-border-color:  $gray-lightest;

$nav-tabs-active-link-hover-bg:  $body-bg;
$nav-tabs-active-link-hover-color:  #555;
$nav-tabs-active-link-hover-border-color:  #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color:  $body-bg;

//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #777;
$navbar-default-bg:                #f8f8f8;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                #777;
$navbar-default-link-hover-color:          #333;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #ddd;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success;
$state-success-bg:               $brand-success-light;
$state-success-border:           $brand-success-dark;

$state-info-text:                $brand-info;
$state-info-bg:                  $brand-info-light;
$state-info-border:              $brand-info-dark;

$state-warning-text:             $brand-warning;
$state-warning-bg:               $brand-warning-light;
$state-warning-border:           $brand-warning-dark;

$state-danger-text:              $brand-danger;
$state-danger-bg:                $brand-danger-light;
$state-danger-border:            $brand-danger-dark;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 3px;

//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for ` .table-striped`.
$table-bg-accent: $gray-lightest;
//** Background color used for `.table-hover`.
$table-bg-hover: $blue-light;
$table-bg-active: $blue;
//** Text color used for `.table-hover`.
$table-color-hover: $white;
$table-color-active: $white;

//** Border color for table and cell borders.
$table-border-color: $gray-lighter;
$table-font-size: $font-size-base;

//== Tables
//
//## Site header
$app-header-font-size: 18px;
$app-header-line-height: 1.1;
$app-header-border-radius: 0;
$app-header-link-color: $white;
$app-header-link-bg: transparent;
$app-header-link-hover-color: $white;
$app-header-link-hover-bg: $midnight-dark;
$app-header-link-width: 125px;
$app-header-dropdown-link-color: $midnight;
$app-header-dropdown-link-bg: $white;
$app-header-dropdown-link-hover-color: $midnight;
$app-header-dropdown-link-hover-bg: $gray-steel-lighter;
$app-header-service-switcher-bg: $midnight-light;
$app-header-service-width: ($app-header-link-width*2.25);
$app-header-divider-color: $midnight-lighter;

// Button boxes
$app-header-btn-padding-vertical: 10px;
$app-header-btn-padding-horizontal: 10px;

// sizes logo via icon font
$app-header-logo-font-size: 59px;
$app-header-logo-line-height: 0.6;



//== Badges
//
//##
$badge-color:                 $white;
//** Linked badge text color on hover
$badge-link-hover-color:      $white;
$badge-bg:                    $brand-primary;
//** Badge text color in active nav link
$badge-active-color:          $brand-primary;
//** Badge background color in active nav link
$badge-active-bg:             $white;
$badge-font-weight:           $font-weight-bold;
$badge-line-height:           1;
$badge-border-radius:         10px;

//== Dropdowns
//
//##
$dropdown-link-hover-bg:      transparent;

//== Icons
//
//##
$font-icon-up-arrow: ':';

//== Placeholder Block

$placeholder-block-base-font-size: $font-size-medium;
$placeholder-block-title-font-size: $font-size-large;

//== Tiles

$tile-corner-size: 30px;

//== Cards
$card-bg: $white;
$card-border-color: $gray-lighter;
$card-border-width: 1px;
$card-padding: $line-height-computed;
$card-margin: ($line-height-computed * 1.25);

//== Settings for Animate.css (SCSS)

$use-fadeIn: true;
$base-duration: .8s;
