<p>Our bright palette of Datto Blue, Teal, and Citrus speaks to
Datto&#39;s energy, optimism, and can-do
attitude. </p>
<h1 id="datto-blue">Datto Blue</h1>
<p>Of all our primary colors, Datto Blue is special. It should be present on every Datto deliverable, even if it just a fine line.</p>
<h1 id="midnight">Midnight</h1>
<p>Sometimes we need to speak about
serious issues, and that’s when Midnight
comes in. Together with its bright neighbors, it helps us strike the right balance
between youthful exhuberance and
seasoned dependability. Midnight is also the default text color.</p>
