<div class="sidebar" 
		 ng-if="routes">

	<!-- Section Nav -->
	<ul class="nav">
		<li ng-repeat="route in routes.sections">
			<a ng-click="vm.activeSection(route.section)"
				 ui-sref-active="sidebar-active" 
				 ui-sref="{{ routes.state | toSubstate }}.{{ route.section | toSubstate }}">
				{{ route.section }}
			</a>

			<!-- Subsection Nav -->
			<!-- Displayed if parent is active -->
			<ul class="sub-nav"
					ng-init="vm.inSubsection = route.subsections[0].title"
					ng-if="vm.inSection === route.section">
				<li ng-repeat="subsection in route.subsections">
					<a href="#{{ subsection.title | toSubstate }}" 
						 ng-click="vm.activeSubsection(subsection.title)"
						 ng-class="{'subsectionActive-{{$root.$state.current.name | toState}}': vm.inSubsection === subsection.title}">
						{{ subsection.title }}
					</a>
				</li>
			</ul>
			<!-- End Subsection Nav -->
			
		</li>
	</ul>
	<!-- End Section Nav -->
</div>