@import 'guidelines/index';
@import 'marketing/index';
@import 'uidesign/index';
@import 'components/index';


body {
  margin: 0;
  font-family: $font-family-base;
  background-color: rgba(0, 42, 58, 0.05);
}
