<style type="text/css">
	.swatch-label {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.25em;
	}
	.label-padding {
		margin: 0 0 0 11em;
	}
</style>

<div class="swatches-container">
	
	<swatch color="midnight-90"
		type="secondary"
		labels="['90% midnight',
			'CMYK 89 52 35 43', 
			'RGB 28 62 77', 
			'#1c3e4c']">
	</swatch>
	<swatch color="midnight-80"
		type="secondary"
		labels="['80% midnight',
			'CMYK 83 50 38 25', 
			'RGB 52 84 97', 
			'#355460']">
	</swatch>
	<swatch color="midnight-70"
		type="secondary"
		labels="['70% midnight',
			'CMYK 74 46 38 11', 
			'RGB 78 105 115', 
			'#4e6973']">
	</swatch>
	<swatch color="midnight-60"
		type="secondary"
		labels="['60% midnight',
			'CMYK 63 39 32 4', 
			'RGB 103 126 136', 
			'#687f88']">
	</swatch>
	<swatch color="midnight-50"
		type="secondary"
		labels="['50% midnight',
			'CMYK 51 31 26 1', 
			'RGB 129 147 155', 
			'#81949b']">
	</swatch>
	<swatch color="midnight-40"
		type="secondary"
		labels="['40% midnight',
			'CMYK 38 23 19 0', 
			'RGB 154 168 175', 
			'#9aa9af']">
	</swatch>
		<swatch color="midnight-30"
		type="secondary"
		labels="['30% midnight',
			'CMYK 29 15 13 0', 
			'RGB 178 190 195', 
			'#b3bec3']">
	</swatch>
	<swatch color="midnight-20"
		type="secondary"
		labels="['20% midnight',
			'CMYK 18 9 8 0', 
			'RGB 205 213 215', 
			'#cdd4d7']">
	</swatch>
	<swatch color="midnight-10"
		type="secondary"
		labels="['10% midnight',
			'CMYK 13 7 6 0', 
			'RGB 218 233 225', 
			'#d9dfe1']">
	</swatch>
	<swatch color="midnight-5"
		type="secondary"
		labels="['5% midnight',
			'CMYK 9 5 4 0', 
			'RGB 228 233 235', 
			'#e5e9eb']">
	</swatch>
	<swatch color="midnight-2"
		type="secondary"
		labels="['2% midnight',
			'CMYK 3 1 1 0', 
			'RGB 245 246 247', 
			'#f5f6f7']">
	</swatch>
</div>