<style type="text/css">
	.swatch-label {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.25em;
	}
	.label-padding {
		margin: 0 0 0 11em;
	}
</style>

<div class="swatches-container">
	<swatch color="green"
		type="secondary"
			labels="[
			'PMS 346C', 
			'CMYK 62 0 59 0', 
			'RGB 96 192 142',
			'#58c990']">
	</swatch>
	<swatch color="yellow"
		type="secondary"
		labels="[
		  'PMS 7404C',
			'CMYK 5 10 88 0', 
			'RGB 246 217 60', 
			'#f6d93c']">
	</swatch>
	<swatch color="red"
		type="secondary"
		labels="[ 
		  'PMS 2034C',
			'CMYK 0 83 79 0', 
			'RGB 243 82 62', 
			'#f3523e']">
	</swatch>

</div>
