<table>
<tr>
<td>
<div style="font-family: 'ff-din-web-condensed'; font-size: 6.5em; font-weight:bold; color:#199ed9; text-transform:uppercase; display: block;">&#8220;
</div>
<div style="font-family: 'ff-din-web-condensed'; font-size: 2em; font-weight:bold; color:#199ed9; text-transform:uppercase; display: block; margin-top:-70px; margin-left:5px; line-height:1em;">WHEN YOU PLAY<br>
THE GAME OF THRONES,<br>
YOU WIN OR YOU DIE.<br>
</div>
<div style="font-family: 'ff-din-web-condensed'; font-size: 1em; font-weight:bold; color:#199ed9; display: block; margin-top:20px; margin-left:5px; line-height:1em;">– Cercei Lannister
</div>
</td>
<td style="padding-left:50px">
<div style="font-family: 'ff-din-web-condensed'; font-size: 6.5em; font-weight:bold; color:#bfd756; text-transform:uppercase; display: block;">&#8220;
</div>
<div style="font-family: 'ff-din-web-condensed'; font-size: 2em; font-weight:bold; color:#54c0c0; text-transform:uppercase; display: block; margin-top:-114px; margin-left:50px; line-height:1em;">WINTER <br>IS COMING.
</div>
<div style="font-family: 'ff-din-web-condensed'; font-size: 1em; font-weight:bold; color:#54c0c0; display: block; margin-top:20px; margin-left:50px; line-height:1em;">– Ned Stark
</div>
</td>
</tr>
</table>