<div class="swatches-container">
	<swatch color="blue-dark"
		type="secondary"
		labels="['blue-dark',
			'CMYK 88 67 67 90', 
			'RGB 33 103 173', 
			'#2167AD']">
	</swatch>
	<swatch color="blue"
		type="secondary"
		labels="['blue',
			'CMYK 74 22 0 0', 
			'RGB 26 158 217', 
			'#199ED9']">
	</swatch>
	<swatch color="blue-light"
		type="secondary"
		labels="['blue-light',
			'CMYK 49 10 0 0', 
			'RGB 69 185 254', 
			'#45B9FE']">
	</swatch>
	<swatch color="blue-lighter"
		type="secondary"
		labels="['blue-lighter',
			'CMYK 39 9 0 0', 
			'RGB 129 207 255', 
			'#81CFFF']">
	</swatch>
</div>
<div class="swatches-container">
	<swatch color="teal-dark"
		type="secondary"
		labels="['teal-dark',
			'CMYK 81 9 35 5', 
			'RGB 0 152 151', 
			'#009897']">
	</swatch>
	<swatch color="teal"
		type="secondary"
		labels="['teal',
			'CMYK 62 1 28 0', 
			'RGB 84 193 193', 
			'#54C0C0']">
	</swatch>
	<swatch color="teal-light"
		type="secondary"
		labels="['teal-light',
			'CMYK 32 0 15 0', 
			'RGB 152 231 219', 
			'#98E7DB']">
	</swatch>
	<swatch color="teal-lighter"
		type="secondary"
		labels="['teal-lighter',
			'CMYK 18 0 9 0', 
			'RGB 204 244 231', 
			'#CCF4E7']">
	</swatch>
</div>
<div class="swatches-container">
	<swatch color="citrus-dark"
		type="secondary"
		labels="['citrus-dark',
			'CMYK 32 2 98 7', 
			'RGB 162 191 7', 
			'#A2BF07']">
	</swatch>
	<swatch color="citrus"
		type="secondary"
		labels="['citrus',
			'CMYK 29 1 84 0', 
			'RGB 191 215 86', 
			'#BFD756']">
	</swatch>
	<swatch color="citrus-light"
		type="secondary"
		labels="['citrus-light',
			'CMYK 22 0 49 0', 
			'RGB 188 225 126', 
			'#BCE17E']">
	</swatch>
	<swatch color="citrus-lighter"
		type="secondary"
		labels="['citrus-lighter',
			'CMYK 17 0 33 0', 
			'RGB 211 243 175', 
			'#D3F3AF']">
	</swatch>
</div>