<p><a href="http://homepool.datto.lan/display/MAR/Brand+Identity+Assets?preview=/16123361/35390986/fonts.zip"><img src="images/assets/images/download-icon.svg" width="24px">&nbsp; Download fonts</a></p>
<p>Datto’s branding typeface is DIN. The modern feel and distinctive personality of this typeface provides Datto with strong visual
recognition throughout all of our communications. The sharp yet organic and fluid design of this font works in concert with the
simplicity of the logo.</p>
<p>Note: In cases where the <span style="font-family:'Helvetica', 'Arial'">‘@’</span> symbol is used, the font Helvetica should be used when possible, in a size and weight similar to the particular DIN font being used.</p>
