/*
** Navbar
*/
.navbar {
	padding: 2.5rem 3rem;
  
  min-height: 0;
  min-height: initial;
  overflow: auto;

  border-radius: 0;
  background-color: $midnight;
  color: white;

	.navbar-logo {
		padding-right: 10px;
		width: 6.25rem;
		float: left;
	}

  /*
  ** Nav
  */
  .nav {
    margin: 0 21.5% 0 20%;
    padding: 0;
  }

  .nav > li {
  	padding: 1rem 3rem 0 0;
  	float: left;
  	list-style-type: none;
  }

  .nav > li > a {
    padding: 0 0 0 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-medium;
    font-weight: 300;
  }

  .hex-icon {
    background: url("../images/assets/images/hex-icon.svg") no-repeat center;
    padding: 15px;
  }

  .navbarActive {
    a {
      color: $midnight !important;
    }
    .hex-icon {
      background: url("../images/assets/images/hex-icon-active.svg") no-repeat center !important;
      padding: 15px;
    }
  }

  /*
  ** Search Bar
  */
	.search-bar {
		width: 15em;
		padding: 0.5rem 0;
		border: none;
		border-bottom: 3px solid white;
		outline: none;
		background-color: transparent;
		font-size: $font-size-medium;
		float: right;
	}

}

.marketing-background {
	background-color: $citrus;
}
.uidesign-background {
	background-color: $teal;
}
.guidelines-background {
	background-color: $blue;
}
