<pre><code><span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="actionscript">
    angular.module(<span class="hljs-string">'app'</span>, [
        <span class="hljs-string">'duiDropdown'</span>,
        ...
    ]);
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">dui-dropdown</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"dev-demo"</span>
  <span class="hljs-attribute">model</span>=<span class="hljs-value">"{}"</span>
  <span class="hljs-attribute">get-options</span>=<span class="hljs-value">"vm.getOptions"</span>
  <span class="hljs-attribute">option-property</span>=<span class="hljs-value">"formatted_address"</span>
  <span class="hljs-attribute">icon</span>=<span class="hljs-value">"exclamation"</span>
  <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"Enter an address"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">dui-dropdown</span>&gt;</span>
</code></pre>