<div class="message-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span class="text-label">New Feature:&nbsp;</span>
          <span class="text-primary">Control access to data by assigning admin roles</span>
          <div class="inline-block pull-right">
            <a class="cta" href="#" >Get Started</a>
            <i class="pipe">|</i>
            <a class="cta" href="https://backupify.zendesk.com/entries/100444543-Understanding-Admin-Roles-Super-Admin-General-Admin-and-Help-Desk-Admin">Learn More</a>
            <button type="button" class="close" class="pull-right"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Backupify Style Guide</h1>

  <h2>Color Palettes</h2>

  <h3>Primary</h3>

  <div class="swatches primary blue">
    <div class="swatch"><code>$blue-lighter</code></div>
    <div class="swatch"><code>$blue-light</code></div>
    <div class="swatch"><code>$blue</code></div>
    <div class="swatch"><code>$blue-dark</code></div>
    <div class="swatch"><code>$blue-darker</code></div>
  </div>
  <div class="swatches primary midnight">
    <div class="swatch"><code>$midnight-lighter</code></div>
    <div class="swatch"><code>$midnight-light</code></div>
    <div class="swatch"><code>$midnight</code></div>
    <div class="swatch"><code>$midnight-dark</code></div>
    <div class="swatch"><code>$midnight-darker</code></div>
  </div>
  <div class="swatches primary gray-steel">
    <div class="swatch"><code>$gray-steel-lighter</code></div>
    <div class="swatch"><code>$gray-steel-light</code></div>
    <div class="swatch"><code>$gray-steel</code></div>
    <div class="swatch"><code>$gray-steel-dark</code></div>
    <div class="swatch"><code>$gray-steel-darker</code></div>
  </div>
  <div class="swatches primary orange">
    <div class="swatch"><code>$orange-lighter</code></div>
    <div class="swatch"><code>$orange-light</code></div>
    <div class="swatch"><code>$orange</code></div>
    <div class="swatch"><code>$orange-dark</code></div>
    <div class="swatch"><code>$orange-darker</code></div>
  </div>

  <h3>Secondary</h3>

  <div class="swatches secondary blue-medium">
    <div class="swatch"><code>$blue-medium-light</code></div>
    <div class="swatch"><code>$blue-medium</code></div>
    <div class="swatch"><code>$blue-medium-dark</code></div>
  </div>

  <div class="swatches secondary green">
    <div class="swatch"><code>$green-light</code></div>
    <div class="swatch"><code>$green</code></div>
    <div class="swatch"><code>$green-dark</code></div>
  </div>

  <div class="swatches secondary green-lime">
    <div class="swatch"><code>$green-lime-light</code></div>
    <div class="swatch"><code>$green-lime</code></div>
    <div class="swatch"><code>$green-lime-dark</code></div>
  </div>

  <div class="swatches secondary yellow">
    <div class="swatch"><code>$yellow-light</code></div>
    <div class="swatch"><code>$yellow</code></div>
    <div class="swatch"><code>$yellow-dark</code></div>
  </div>

  <div class="swatches secondary beige">
    <div class="swatch"><code>$beige-light</code></div>
    <div class="swatch"><code>$beige</code></div>
    <div class="swatch"><code>$beige-dark</code></div>
  </div>

  <div class="swatches secondary gray-warm">
    <div class="swatch"><code>$gray-warm-lightest</code></div>
    <div class="swatch"><code>$gray-warm-lighter</code></div>
    <div class="swatch"><code>$gray-warm-light</code></div>
    <div class="swatch"><code>$gray-warm</code></div>
    <div class="swatch"><code>$gray-warm-dark</code></div>
    <div class="swatch"><code>$gray-warm-darker</code></div>
    <div class="swatch"><code>$gray-warm-darkest</code></div>
  </div>

  <h3>Basic</h3>

  <div class="swatches basic">
    <div class="swatch"><code>$white</code></div>
    <div class="swatch"><code>$gray-lightest</code></div>
    <div class="swatch"><code>$gray-lighter</code></div>
    <div class="swatch"><code>$gray-light</code></div>
    <div class="swatch"><code>$gray</code></div>
    <div class="swatch"><code>$gray-dark</code></div>
    <div class="swatch"><code>$gray-darker</code></div>
    <div class="swatch"><code>$gray-darkest</code></div>
    <div class="swatch"><code>$black</code></div>
  </div>

  <h3>Alert colors</h3>

  <h4>Success</h3>

  <div class="swatches alerting brand-success">
    <div class="swatch"><code>$brand-success-light</code></div>
    <div class="swatch"><code>$brand-success</code></div>
    <div class="swatch"><code>$brand-success-dark</code></div>
  </div>

  <h4>Info</h3>

  <div class="swatches alerting brand-info">
    <div class="swatch"><code>$brand-info-light</code></div>
    <div class="swatch"><code>$brand-info</code></div>
    <div class="swatch"><code>$brand-info-dark</code></div>
  </div>

  <h4>Warning</h3>

  <div class="swatches alerting brand-warning">
    <div class="swatch"><code>$brand-warning-light</code></div>
    <div class="swatch"><code>$brand-warning</code></div>
    <div class="swatch"><code>$brand-warning-dark</code></div>
  </div>

  <h4>Danger</h3>

  <div class="swatches alerting brand-danger">
    <div class="swatch"><code>$brand-danger-light</code></div>
    <div class="swatch"><code>$brand-danger</code></div>
    <div class="swatch"><code>$brand-danger-dark</code></div>
  </div>

  <h2>Text</h2>

  <h1>Heading 1: These admeasurements I now propose to set before you. But first, be it recorded, that, in this matter, I am not free to utter any fancied measurement I please. Because there are skeleton authorities you can refer to, to test my accuracy.</h1>
  <h2>Heading 2: These admeasurements I now propose to set before you. But first, be it recorded, that, in this matter, I am not free to utter any fancied measurement I please.</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <hr>

  <p>Lorem ipsum dolor sit amet, <a title="test link" href="#">test link</a>
  adipiscing elit. <strong>This is strong.</strong>
  Nullam dignissim convallis est. Quisque aliquam. <em>This is emphasized.</em>
  Donec faucibus. Nunc iaculis suscipit dui. 5<sup>3</sup>
  = 125. Water is H20. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. <cite>The New York Times</cite>
  (That’s a citation). <span style="text-decoration: underline;">Underline.</span>
  Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="HyperText Markup Language">HTML</abbr>
  and <abbr title="Cascading Style Sheets">CSS</abbr>
  are our tools. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. To copy a file type <code>COPY <var>filename</var></code>.</p>

  <p><del>Dinner’s at 5:00.</del><ins>Let’s make that 7.</ins></p>

  <p>This <span style="text-decoration: line-through;">text</span> has been struck.</p>
  <hr>

  <h2>Buttons</h2>

  <dl>
    <dt>Primary <code>class="btn btn-md btn-primary"</code></dt>
    <dd><button class="btn btn-md btn-primary">Primary</button></dd>
    <dt>Secondary <code>class="btn btn-md btn-secondary"</code></dt>
    <dd><button class="btn btn-md btn-secondary">Secondary</button></dd>
    <dt>Default <code>class="btn btn-md btn-default"</code></dt>
    <dd><button class="btn btn-md btn-default">Default</button></dd>
    <dt>Success <code>class="btn btn-md btn-success"</code></dt>
    <dd><button class="btn btn-md btn-success">Success</button></dd>
    <dt>Info <code>class="btn btn-md btn-info"</code></dt>
    <dd><button class="btn btn-md btn-info">Info</button></dd>
    <dt>Warning <code>class="btn btn-md btn-warning"</code></dt>
    <dd><button class="btn btn-md btn-warning">Warning</button></dd>
    <dt>Danger <code>class="btn btn-md btn-danger"</code></dt>
    <dd><button class="btn btn-md btn-danger">Danger</button></dd>
    <dt>Link <code>class="btn btn-md btn-link"</code></dt>
    <dd><button class="btn btn-md btn-link">Link</button></dd>
  </dl>

  <h3>Large Buttons</h3>

  <h4>Active</h4>

  <button class="btn btn-lg btn-primary">Primary</button>
  <button class="btn btn-lg btn-secondary">Secondary</button>
  <button class="btn btn-lg btn-default">Default</button>
  <button class="btn btn-lg btn-success">Success</button>
  <button class="btn btn-lg btn-info">Info</button>
  <button class="btn btn-lg btn-warning">Warning</button>
  <button class="btn btn-lg btn-danger">Danger</button>
  <button class="btn btn-lg btn-link">Link</button>

  <h4>Disabled</h4>

  <button class="btn btn-lg btn-primary" disabled>Primary</button>
  <button class="btn btn-lg btn-secondary" disabled>Secondary</button>
  <button class="btn btn-lg btn-default" disabled>Default</button>
  <button class="btn btn-lg btn-success" disabled>Success</button>
  <button class="btn btn-lg btn-info" disabled>Info</button>
  <button class="btn btn-lg btn-warning" disabled>Warning</button>
  <button class="btn btn-lg btn-danger" disabled>Danger</button>
  <button class="btn btn-lg btn-link" disabled>Link</button>

  <h3>Medium Buttons</h3>

  <h4>Active</h4>

  <button class="btn btn-md btn-primary">Primary</button>
  <button class="btn btn-md btn-secondary">Secondary</button>
  <button class="btn btn-md btn-default">Default</button>
  <button class="btn btn-md btn-success">Success</button>
  <button class="btn btn-md btn-info">Info</button>
  <button class="btn btn-md btn-warning">Warning</button>
  <button class="btn btn-md btn-danger">Danger</button>
  <button class="btn btn-md btn-link">Link</button>

  <h4>Disabled</h4>

  <button class="btn btn-mid btn-primary" disabled>Primary</button>
  <button class="btn btn-mid btn-secondary" disabled>Secondary</button>
  <button class="btn btn-mid btn-default" disabled>Default</button>
  <button class="btn btn-mid btn-success" disabled>Success</button>
  <button class="btn btn-mid btn-info" disabled>Info</button>
  <button class="btn btn-mid btn-warning" disabled>Warning</button>
  <button class="btn btn-mid btn-danger" disabled>Danger</button>
  <button class="btn btn-mid btn-link" disabled>Link</button>

  <h3>Small Buttons</h3>

  <h4>Active</h4>

  <button class="btn btn-sm btn-primary">Primary</button>
  <button class="btn btn-sm btn-secondary">Secondary</button>
  <button class="btn btn-sm btn-default">Default</button>
  <button class="btn btn-sm btn-success">Success</button>
  <button class="btn btn-sm btn-info">Info</button>
  <button class="btn btn-sm btn-warning">Warning</button>
  <button class="btn btn-sm btn-danger">Danger</button>
  <button class="btn btn-sm btn-link">Link</button>

  <h4>Disabled</h4>

  <button class="btn btn-sm btn-primary" disabled>Primary</button>
  <button class="btn btn-sm btn-secondary" disabled>Secondary</button>
  <button class="btn btn-sm btn-default" disabled>Default</button>
  <button class="btn btn-sm btn-success" disabled>Success</button>
  <button class="btn btn-sm btn-info" disabled>Info</button>
  <button class="btn btn-sm btn-warning" disabled>Warning</button>
  <button class="btn btn-sm btn-danger" disabled>Danger</button>
  <button class="btn btn-sm btn-link" disabled>Link</button>

  <h3>X-Small Buttons</h3>

  <h4>Active</h4>

  <button class="btn btn-xs btn-primary">Primary</button>
  <button class="btn btn-xs btn-secondary">Secondary</button>
  <button class="btn btn-xs btn-default">Default</button>
  <button class="btn btn-xs btn-success">Success</button>
  <button class="btn btn-xs btn-info">Info</button>
  <button class="btn btn-xs btn-warning">Warning</button>
  <button class="btn btn-xs btn-danger">Danger</button>
  <button class="btn btn-xs btn-link">Link</button>

  <h4>Disabled</h4>

  <button class="btn btn-xs btn-primary" disabled>Primary</button>
  <button class="btn btn-xs btn-secondary" disabled>Secondary</button>
  <button class="btn btn-xs btn-default" disabled>Default</button>
  <button class="btn btn-xs btn-success" disabled>Success</button>
  <button class="btn btn-xs btn-info" disabled>Info</button>
  <button class="btn btn-xs btn-warning" disabled>Warning</button>
  <button class="btn btn-xs btn-danger" disabled>Danger</button>
  <button class="btn btn-xs btn-link" disabled>Link</button>

  <h3>Vertical Buttons</h3>

  <div class="btn-group-vertical">
    <button class="btn btn-md btn-default">Default button 1</button>
    <button class="btn btn-md btn-default">Default button 2</button>
    <button class="btn btn-md btn-default">Default button 3</button>
  </div>

  <h3>Grouped Buttons</h3>

  <div class="btn-group">
    <button class="btn btn-md btn-secondary">Action 1</button>
    <button class="btn btn-md btn-secondary">Action 2</button>
    <button class="btn btn-md btn-secondary">Action 3</button>
    <button class="btn btn-md btn-secondary">Action 4</button>
  </div>

  <hr>

  <h2>List Types</h2>
  <h3>Definition List</h3>

  <dl>
  <dt>Definition List Title</dt>
  <dd>This is a definition list division.</dd>
  <dt>Definition</dt>
  <dd>An exact statement or description of the nature, scope, or meaning of something: <em>our definition of what constitutes poetry.</em></dd>
  </dl>

  <h3>Ordered List</h3>

  <ol>
    <li>List Item 1</li>
    <li>List Item 2
      <ol>
        <li>Nested list item A</li>
        <li>Nested list item B</li>
      </ol>
    </li>
    <li>List Item 3</li>
  </ol>

  <h3>Unordered List</h3>

  <ul>
    <li>List Item 1</li>
    <li>List Item 2
      <ul>
        <li>Nested list item A</li>
        <li>Nested list item B</li>
      </ul>
    </li>
    <li>List Item 3</li>
  </ul>

  <hr>

  <h2>Table</h2>

  <table>
    <tbody>
      <tr>
        <th>Table Header 1</th>
        <th>Table Header 2</th>
        <th>Table Header 3</th>
      </tr>
      <tr>
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
      <tr class="even">
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
      <tr>
        <td>Division 1</td>
        <td>Division 2</td>
        <td>Division 3</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h2>Preformatted Text</h2>

  <p>Typographically, preformatted text is not the same thing as code. Sometimes, a faithful execution of the text requires preformatted text that may not have anything to do with code. For example:</p>

  <pre>“Beware the Jabberwock, my son!
      The jaws that bite, the claws that catch!
  Beware the Jubjub bird, and shun
      The frumious Bandersnatch!”</pre>

  <h3>Code</h3>

  <p>Code can be presented inline within a <code>&lt;pre&gt;</code> block.</p>

  <pre><code>#container { float: left; margin: 0 -240px 0 0; width: 100%; }</code></pre>

  <hr>

  <h2>Blockquotes</h2>

  <p>Let’s keep it simple.</p>

  <blockquote><p>Good afternoon, gentlemen. I am a HAL 9000 computer. I became operational at the H.A.L. plant in Urbana, Illinois on the 12th of January 1992. My instructor was Mr. Langley, and he taught me to sing a song. If you’d like to hear it I can sing it for you. <cite>
  — <a href="http://blogschool.in" target="_blank">Blog</a></cite></blockquote>

  <hr>

  <h2>Components</h2>

  <h3>Page header</h3>

  <div class="dependencies">
    <ul>
      <li>JavaScript
        <ul>
          <li>bootstrap/collapse</li>
          <li>bootstrap/dropdown</li>
        </ul>
      </li>
      <li>CSS
        <ul>
          <li>partials/type</li>
          <li>partials/brand</li>
          <li>partials/app-header</li>
        </ul>
      </li>
    </ul>
  </div>

  <nav id="main-nav" class="navbar app-header" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <i class="glyphicon glyphicon-tasks" role="presentation"></i>
          <span class="sr-only">Account</span>
        </button>
        <a href="/app/assets/images" class="navbar-brand"><span class="logo"><i class="sr-only">Backupify</i></span> for Google Apps</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle domain-toggle" data-toggle="dropdown" aria-label="Choose a domain">backupify.com <span class="caret" role="presentation"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">westeros.io</a></li>
              <li><a href="#">starkfam.org</a></li>
              <li><a href="#">lionhearts.co.uk</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" aria-label="Account administration and help menus">
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-warning-sign" role="presentation"></i><span class="sr-only-cond">Notices</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-question-sign" role="presentation"></i><span class="sr-only-cond">Get support</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog" role="presentation"></i><span class="sr-only-cond">Account</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Set password</a></li>
              <li><a href="#">Add administrators</a></li>
              <li><a href="#">View audit log</a></li>
              <li class="divider" role="presentation"></li>
              <li><a href="#">account settings</a></li>
              <li class="divider" role="presentation"></li>
              <li><a href="/admin/users">admin</a></li>
              <li><a href="/logout" class="rightside">sign out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <h3>Tables</h3>

  <h4>Standard</h4>

  <table class="table table-hover table-fixed">
    <caption>Caption: Monthly savings</caption>
    <thead>
      <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Animal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td>Unicorn</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>Zebra</td>
      </tr>
      <tr>
        <td>March</td>
        <td>$260</td>
        <td>Capybara</td>
      </tr>
      <tr>
        <td>April</td>
        <td>$2</td>
        <td>Finch</td>
      </tr>
      <tr>
        <td>May</td>
        <td>$87654</td>
        <td>Toad</td>
      </tr>
    </tbody>
  </table>

  <h4>Condensed</h4>

  <table class="table table-condensed table-hover">
    <caption>Caption: Monthly savings</caption>
    <thead>
      <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Animal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td>Unicorn</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>Zebra</td>
      </tr>
      <tr>
        <td>March</td>
        <td>$260</td>
        <td>Capybara</td>
      </tr>
      <tr>
        <td>April</td>
        <td>$2</td>
        <td>Finch</td>
      </tr>
      <tr>
        <td>May</td>
        <td>$87654</td>
        <td>Toad</td>
      </tr>
    </tbody>
  </table>

  <h4>Striped</h4>

  <table class="table table-hover table-striped">
    <caption>Caption: Monthly savings</caption>
    <thead>
      <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Animal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td>Unicorn</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>Zebra</td>
      </tr>
      <tr>
        <td>March</td>
        <td>$260</td>
        <td>Capybara</td>
      </tr>
      <tr>
        <td>April</td>
        <td>$2</td>
        <td>Finch</td>
      </tr>
      <tr>
        <td>May</td>
        <td>$87654</td>
        <td>Toad</td>
      </tr>
    </tbody>
  </table>

  <h3>Placeholder Block</h3>
  <div class="placeholder-block">
    <div class="title">Unable to load administrators.</div>
    <div class="content">Please refresh your page and try again. </div>
    <div class="content">If the problem persists, please <a href="http://backupify.zendesk.com/" target="_blank">contact customer support</a>.</div>
  </div>

  <h2>Lists</h2>

  <h3>Item lists</h3>

  <div ng-controller="DummyItemListController as dummyItemList">
    <div
      bk-item-list
      bk-item-list-items="dummyItemList.mails"
      bk-item-list-columns="dummyItemList.columns"></div>
  </div>

  <h3>Trees</h3>

  <h4>Data tree</h4>

  <div ng-controller="DummyDisplayTreeController as dummyDataTree">
    <button class="btn btn-md btn-default" ng-click="dummyDataTree.switchDataSets()">Switch data sets</button>
    <p ng-bind-html="dummyDataTree.dataSetInfo"></p>
    <div
      bk-display-tree="dummyDataTree.data"
      bk-display-tree-on-node-click="dummyDataTree.onClickHandler($event, value, tree, scopes)"></div>
  </div>

  <h4>Table list</h4>

  <div ng-controller="DummyDisplayTreeController as dummyTableList">
    <button class="btn btn-md btn-default" ng-click="dummyTableList.switchDataSets()">Switch data sets</button>
    <p ng-bind-html="dummyTableList.dataSetInfo"></p>
    <div
      bk-display-tree="dummyTableList.data"
      bk-display-tree-on-node-click="dummyTableList.onClickHandler($event, value, tree, scopes)"
      bk-display-tree-classes="dummyTableList.classes"
      bk-display-tree-object-label-property="dummyTableList.objLabel"></div>
  </div>

  <h3>Pagination</h3>

  <div ng-controller="DummyPaginationController as dummyPagination">
    <div
      bk-pagination="dummyPagination.links"
      bk-pagination-on-link-click="dummyPagination.onLinkClick($event, value, scopes)"></div>
  </div>
